
/OTPServer/ipch
/OTPServer/OTPServer/bin
/OTPServer/OTPServer/obj
/OTPServer/OTPServerSetup-x64/Debug
/OTPServer/OTPServerSetup-x64/Release
/OTPServer/OTPServerSetup-x64/Release/OTPServerSetup-x64.msi
/OTPServer/OTPServerSetup-x64/Release/setup.exe
/OTPServer/OTPServerSetup-x64/Debug/OTPServerSetup-x64.tmp
/OTPServer/OTPClient/obj
/OTPServer/OTPClient/bin
/OTPServer/OTPHelpers/obj
/OTPServer/OTPHelpers/bin
/OTPServer/InstallerActions/bin
/OTPServer/InstallerActions/obj
/OTPServer/BouncyCastle/crypto/bin
/OTPServer/BouncyCastle/crypto/obj
/OTPServer/Certs/root
/OTPServer/Certs/ssl
/OTPServer/OTPServerConfigurationUtility/bin
/OTPServer/OTPServerConfigurationUtility/obj
/OTPServer/Releases